/*

@media (max-width: 767px) {}

@media (max-width: 480px) {}

@media (min-width: 768px) and (max-width: 979px) {}

@media (min-width: 980px) {}


@media (min-width: 1200px) {
*/


/*更動大小 : Js也要改*/

@import url(http://fonts.googleapis.com/css?family=Varela+Round);
:root {
    --height: 455;
    --width: 397;
    --border-radius: 20;
    --height_default: 455;
    --width_default: 397;
    --height_video: 480;
    --width_video: 640;
}


/*http://muki.tw/tech/native-css-variables/*/


/* calc(var(--height) * 1px); */


/* calc(var(--width) * 1px); */

#slides {
    padding: 0;
    margin: auto;
    width: calc(var(--width) * 1px);
    height: calc(var(--height) * 1px);
    display: block;
    position: relative;
    /*add*/
    text-align: center;
    opacity: 0;
}

#slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#slides input {
    display: none;
}

.slide-container {
    display: block;
}

.slide {
    bottom: 0;
    margin: auto;
    opacity: 0;
    width: calc(var(--width) * 1px);
    height: calc(var(--height) * 1px);
    display: block;
    position: absolute;
    transform: scale(0);
    /* 增加形狀變化，註解掉此行變成淡入淡出 */
    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
    border-radius: calc(var(--border-radius) * 1px);
}


/*-----------------------------------------*/


/* Label : Prev & Next hoevr_button */


/*-----------------------------------------*/

.nav {}

.nav label {
    width: 200px;
    height: 80%;
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: opacity .2s;
    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}


/* 移動到圖片上：左右出現0.5透明度的箭頭，提示作用 */

.slide:hover + .nav label {
    opacity: 0.5;
}


/* 移動到箭頭上 */

.nav label:hover {
    opacity: 1;
}


/* 右邊箭頭往右移動 */

.nav .next {
    right: 0;
    margin-right: 0;
}

input:checked + .slide-container .slide {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label {
    display: block;
}


/*-----------------------------------------*/


/* 導覽列 - Checked button */


/*-----------------------------------------*/


/*
.nav-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}

.nav-dots .nav-dot {
    top: -5px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
    background: rgba(0, 0, 0, 0.8);
}

/*------------------------------------------------------------------------------*/

#page_navigate_bar {
    position: relative;
    height: 15px;
    width: 100%;
    text-align: center;
}

.page_item_default {
    width: 10px;
    height: 10px;
    background: gray;
    display: inline-block;
    border-radius: 5px;
    margin: auto 10px;
}

.page_item_select {
    width: 10px;
    height: 10px;
    background: black;
    display: inline-block;
    border-radius: 5px;
    margin: auto 10px;
}

.page_item:hover {
    background: black;
}


/* Fade effect : Root Border */

#ImagePanel {
    position: relative;
    height: calc(var(--height) * 1px);
    margin: auto;
}


/* Fade effect : 影像 尺寸 */

div.large {
    display: block;
    border-radius: calc(var(--border-radius) * 1px);
    width: calc(var(--width) * 1px);
    height: calc(var(--height) * 1px);
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0;
    /*for Firefox*/
    -moz-background-size: 100%;
    /*for Google Chrome、Safari*/
    -webkit-background-size: 100%;
    /*for Opera*/
    -o-background-size: 100%;
    /*for IE*/
    background-size: 100%;
}


/* Fade effect : 影像指定 、 Z-index 、fill mode */

#f1 {
    background-image: url(images/%E6%8A%95%E5%BD%B1%E7%89%874.PNG);
    z-index: 1;
    animation-fill-mode: forwards;
}

#f2 {
    background-image: url(images/%E6%8A%95%E5%BD%B1%E7%89%875.PNG);
    z-index: 2;
    animation-fill-mode: forwards;
}

#f3 {
    background-image: url(images/%E6%8A%95%E5%BD%B1%E7%89%876.PNG);
    z-index: 3;
    animation-fill-mode: forwards;
}

#f4 {
    background-image: url(images/%E6%8A%95%E5%BD%B1%E7%89%877.PNG);
    z-index: 4;
    animation-fill-mode: forwards;
}

#f5 {
    background-image: url(images/%E6%8A%95%E5%BD%B1%E7%89%878.PNG);
    z-index: 5;
    animation-fill-mode: forwards;
}

#f6 {
    background-image: url(images/%E6%8A%95%E5%BD%B1%E7%89%879.PNG);
    z-index: 1;
    animation-fill-mode: forwards;
}

#f7 {
    background-image: url(images/%E6%8A%95%E5%BD%B1%E7%89%8710.PNG);
    z-index: 2;
    animation-fill-mode: forwards;
}

#f8 {
    background-image: url(images/%E6%8A%95%E5%BD%B1%E7%89%8711.PNG);
    z-index: 3;
    animation-fill-mode: forwards;
}

#f9 {
    background-image: url(images/%E6%8A%95%E5%BD%B1%E7%89%8712.PNG);
    z-index: 4;
    animation-fill-mode: forwards;
}

#f10 {
    background-image: url(images/%E6%8A%95%E5%BD%B1%E7%89%8713.PNG);
    z-index: 5;
    animation-fill-mode: forwards;
}

#f11 {
    background-image: url(images/%E6%8A%95%E5%BD%B1%E7%89%8714.PNG);
    z-index: 1;
    animation-fill-mode: forwards;
}

#f12 {
    background-image: url(images/%E6%8A%95%E5%BD%B1%E7%89%8715.PNG);
    z-index: 2;
    animation-fill-mode: forwards;
}

#f13 {
    background-image: url(images/%E6%8A%95%E5%BD%B1%E7%89%8716.PNG);
    z-index: 3;
    animation-fill-mode: forwards;
}


/* Fade effect : 影像 Opacity */

.Img_Default {
    opacity: 0;
}

.Img_Selected {
    opacity: 1;
}


/* Fade effect : Animation*/

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        /*初始状态 透明度为0*/
    }
    100% {
        opacity: 1;
        /*结尾状态 透明度为1*/
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        /*初始状态 透明度为0*/
    }
    100% {
        opacity: 0;
        /*结尾状态 透明度为1*/
    }
}

.fade_in {
    /* 名稱 */
    -webkit-animation-name: fadeIn;
    /* 持續時間 */
    -webkit-animation-duration: 5s;
    /* 播放次數 */
    -webkit-animation-iteration-count: 1;
    /* 延遲時間 */
    -webkit-animation-delay: 0s;
}

.fade_out {
    /* 名稱 */
    -webkit-animation-name: fadeOut;
    /* 持續時間 */
    -webkit-animation-duration: 5s;
    /* 播放次數 */
    -webkit-animation-iteration-count: 1;
    /* 延遲時間 */
    -webkit-animation-delay: 0s;
}


/* ----------------------------------------------

        Clean Air Commute Style
        Style Sheet

        author:     Matt Kirk
        date:       5/16/11

	   Colors - 
	       headers blue 			015080
	       nav orange				ec8430
	       yellow 						ffde00
	       dark green text 	2c5117
  
    ------------------------------------------------------------- */

body {
    background: #00b4ff;
    color: #333;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

#background-wrap {
    bottom: 0;
    left: 0;
    padding-top: 50px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: -1;
}


/* KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1000px;
    }
    100% {
        margin-left: 100%;
    }
}


/* ANIMATIONS */

.x1 {
    -webkit-animation: animateCloud 35s linear infinite;
    -moz-animation: animateCloud 35s linear infinite;
    animation: animateCloud 35s linear infinite;
    -webkit-transform: scale(0.65);
    -moz-transform: scale(0.65);
    transform: scale(0.65);
}

.x2 {
    -webkit-animation: animateCloud 20s linear infinite;
    -moz-animation: animateCloud 20s linear infinite;
    animation: animateCloud 20s linear infinite;
    -webkit-transform: scale(0.3);
    -moz-transform: scale(0.3);
    transform: scale(0.3);
}

.x3 {
    -webkit-animation: animateCloud 30s linear infinite;
    -moz-animation: animateCloud 30s linear infinite;
    animation: animateCloud 30s linear infinite;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    transform: scale(0.5);
}

.x4 {
    -webkit-animation: animateCloud 18s linear infinite;
    -moz-animation: animateCloud 18s linear infinite;
    animation: animateCloud 18s linear infinite;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
}

.x5 {
    -webkit-animation: animateCloud 25s linear infinite;
    -moz-animation: animateCloud 25s linear infinite;
    animation: animateCloud 25s linear infinite;
    -webkit-transform: scale(0.55);
    -moz-transform: scale(0.55);
    transform: scale(0.55);
}

.x6 {
    -webkit-animation: animateCloud 10s linear infinite;
    -moz-animation: animateCloud 10s linear infinite;
    animation: animateCloud 10s linear infinite;
    -webkit-transform: scale(0.25);
    -moz-transform: scale(0.25);
    transform: scale(0.25);
}

.x7 {
    -webkit-animation: animateCloud 40s linear infinite;
    -moz-animation: animateCloud 40s linear infinite;
    animation: animateCloud 40s linear infinite;
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    transform: scale(0.4);
}

.x8 {
    -webkit-animation: animateCloud 15s linear infinite;
    -moz-animation: animateCloud 15s linear infinite;
    animation: animateCloud 15s linear infinite;
    -webkit-transform: scale(0.45);
    -moz-transform: scale(0.45);
    transform: scale(0.45);
}

.x9 {
    -webkit-animation: animateCloud 5s linear infinite;
    -moz-animation: animateCloud 5s linear infinite;
    animation: animateCloud 5s linear infinite;
    -webkit-transform: scale(0.38);
    -moz-transform: scale(0.38);
    transform: scale(0.38);
}

.x10 {
    -webkit-animation: animateCloud 22s linear infinite;
    -moz-animation: animateCloud 22s linear infinite;
    animation: animateClouds 22s linear infinite;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
}


/* OBJECTS */

.cloud {
    background: #fff;
    background: -moz-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #fff), color-stop(100%, #f1f1f1));
    background: -webkit-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    background: -o-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    background: -ms-linear-gradient(top, #fff 5%, #f1f1f1 100%);
    background: linear-gradient(top, #fff 5%, #f1f1f1 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1', GradientType=0);
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
    height: 120px;
    position: relative;
    width: 350px;
}

.cloud:after,
.cloud:before {
    background: #fff;
    content: '';
    position: absolute;
    z-indeX: -1;
}

.cloud:after {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    height: 100px;
    left: 50px;
    top: -50px;
    width: 100px;
}

.cloud:before {
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    border-radius: 200px;
    width: 180px;
    height: 180px;
    right: 50px;
    top: -90px;
}


/*}*/